<link rel="shortcut icon" type="image/ico" href="/favicon.ico">
<div class="header">
    <div>
        <span><a href="/"><img src="<%= siteDomain %>/web/images/index/logo.png" title="象盒找房网"
                               class="img01"/></a></span>
        <span class="font14 place"><span class="marker"><img
                        src="<%= siteDomain %>/web/images/index/sy12.png"/></span><i><%= cityName %></i></span>
        <!--定位选择-->
        <div class="overlayBg"></div>
        <div class="city-change bounceIn animated">
            <span class="close"></span>
            <div class="title">选择城市
                <span class="city-tab">
                  <span class="code1">热门城市:</span>
                  <a href="http://www.xhj.com/" title="长沙房产网">长沙</a>
                  <a href="http://zz.xhj.com/" title="株洲房产网">株洲</a>
                  <a href="http://xt.xhj.com/" title="湘潭房产网">湘潭</a>
                </span>
            </div>
            <div class="title-line"></div>
            <div class="fc-main clear">
                <div class="fl citys-l">
                    <ul>
                        <%
                        Object.keys(cities).map(function (zimu, zimu_index) {
                        if(zimu_index % 2 == 0){
                        %>
                        <li class="clear">
                            <span class="code-title fl"><%= zimu %></span>
                            <div class="city-enum fl">
                                <%
                                cities[zimu].map(function (cn) {
                                %>
                                <a href="<%= cn.domain %>" title="<%= cn.title %>"><%= cn.name %></a>
                                <% }); %>
                            </div>
                        </li>
                        <%
                        }
                        %>
                        <% }); %>
                    </ul>
                </div>
                <div class="fl citys-r">
                    <ul>
                        <%
                        Object.keys(cities).map(function (zimu, zimu_index) {
                        if(zimu_index % 2 == 1){
                        %>
                        <li class="clear">
                            <span class="code-title fl"><%= zimu %></span>
                            <div class="city-enum fl">
                                <%
                                cities[zimu].map(function (cn) {
                                %>
                                <a href="<%= cn.domain %>" title="<%= cn.title %>"><%= cn.name %></a>
                                <% }); %>
                            </div>
                        </li>
                        <%
                        }
                        %>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="narbar pull-right">
            <ul class="list-unstyled list-inline">
                <%
                menus.map(function (menu) {
                if(menu){
                %>
                <li class="tabs">
                    <a href="<%= menu.listpage %>"><%= menu.name %></a>
                    <%
                    if(menu.subChannel && menu.subChannel.length > 0){
                    %>
                    <div class="nav">
                        <em><img src="<%= siteDomain %>/web/images/index/sy14.png"></em>
                        <%
                        menu.subChannel.map(function (subMenu) {
                        %>
                        <a href="<%= subMenu.listpage %>"
                           class="<% if(subMenu.isImportant == '1'){ %>btn<% } %>"><span><%= subMenu.name %></span></a>
                        <%
                        });
                        %>
                    </div>
                    <% } %>
                </li>
                <%
                }
                });
                %>
                <li class="tabs" style="margin-right:5px;">
                    <a target="_blank" href="<%= siteDomain %>/wap/page/appdown">象盒APP</a>
                    <div class="nav eww">
                        <img src="<%= siteDomain %>/web/xhimage/erweima.png" style="width:140px;"/>
                    </div>
                </li>
                <li class="font14 key_no_login">
                    <a href="<%= siteDomain %>/login" rel="nofollow"><img
                                src="<%= siteDomain %>/web/images/index/sy01.png"
                                class="img02"/>登录</a><span
                            class="xian"></span>
                    <div class="denglu_nav">
                        <em><img src="<%= siteDomain %>/web/images/index/sy14.png"></em>
                        <a href="<%= siteDomain %>/login" class="yhdl_btn_model"><span>用户登录</span></a>
                        <a href="<% if(cityId == '1'){ %>http://belonger.xhj.com<% }else{ %>http://fz.belonger.xhj.com<% } %>"><span>经纪人登录</span></a>
                    </div>
                </li>
                <li class="font14 key_no_login"><a href="<%= siteDomain %>/reg" rel="nofollow">注册</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- 头部 end -->
